@font-face {
    font-family: 'arabFontBlack';
    src: url('../fonts/Montserrat/Montserrat-Black.ttf');
}

@font-face {
  font-family: 'arabFontItalic';
  src: url('../fonts/Montserrat/Montserrat-BlackItalic.ttf');
}

@font-face {
  font-family: 'arabFontBold';
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'arabFontBoldItalic';
  src: url('../fonts/Montserrat/Montserrat-BoldItalic.ttf');
}

@font-face {
  font-family: 'arabFontExtraBold';
  src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
  font-family: 'arabFontExtraBoldItalic';
  src: url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: 'arabFontExtraLight';
  src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf');
}

@font-face {
  font-family: 'arabFontExtraLightItalic';
  src: url('../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'arabFontItalic';
  src: url('../fonts/Montserrat/Montserrat-Italic.ttf');
}

@font-face {
  font-family: 'arabFontLight';
  src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'arabFontLightItalic';
  src: url('../fonts/Montserrat/Montserrat-LightItalic.ttf');
}

@font-face {
  font-family: 'arabFontMedium';
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'arabFontMediumItalic';
  src: url('../fonts/Montserrat/Montserrat-MediumItalic.ttf');
}

@font-face {
  font-family: 'arabFontRegular';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'arabFontSemiBold';
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'arabFontSemiBoldItalic';
  src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'arabFontThin';
  src: url('../fonts/Montserrat/Montserrat-Thin.ttf');
}

@font-face {
  font-family: 'arabFontThinItalic';
  src: url('../fonts/Montserrat/Montserrat-ThinItalic.ttf');
}

/* 惠普体 */


@font-face {
  font-family: 'PuHuiTiBold';
  src: url('../fonts/InclusiveBody/Alibaba-PuHuiTi-Bold.otf');
}

@font-face {
  font-family: 'PuHuiTiHeavy';
  src: url('../fonts/InclusiveBody/Alibaba-PuHuiTi-Heavy.otf');
}

@font-face {
  font-family: 'PuHuiTiLight';
  src: url('../fonts/InclusiveBody/Alibaba-PuHuiTi-Light.otf');
}

@font-face {
  font-family: 'PuHuiTiMedium';
  src: url('../fonts/InclusiveBody/Alibaba-PuHuiTi-Medium.otf');
}

@font-face {
  font-family: 'PuHuiTiRegular';
  src: url('../fonts/InclusiveBody/Alibaba-PuHuiTi-Regular.otf');
}
